#tit{
    font-size: 150%;
    display: flex; 
    justify-content: center;
}

.button{
    cursor:pointer;
    width:150px;
    height: 50px;
    margin: 5px 10px;
}

#ploblemCanvas{
    position: absolute;
    top: 10vh;
    right:52%;
}

#answerCanvas{
    position: absolute;
    top: 10vh;
    left:52%;
}

#user{
    text-align: center;
    margin:  73vh auto 0;
}

#ms{
    font-size: 80%;
}

.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 360px;
    padding: 20px;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}